<!DOCTYPE html>
<html>
<head>
<style>
.myDiv {
  border: 5px outset red;
  background-color: lightblue;    
  text-align: center;
}
</style>
</head>
<body>

<h1> To Upload the  Products </h1>
<form>
<div class="myDiv">
<br></br>
  <lable for ="pname">PRODUCT NAME </lable>
<input type= "text" name="pname">

<lable for ="price">PRODUCT PRICE :</lable>
<input type= "text" name="price">

<input type="file" id="myFile" name="filename">
  <input type="submit">

<br></br>
</div>

</form>
</html>